html {
    background-color: #9e9e9e;
    overflow-y: hidden;
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hand {
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
.clcok-style {
    height: 80vh;
}
#seconds-hand {
    transform: rotate(360deg);
    transform-origin: center;
}
#hours-hand {
    transform: rotate(360deg);
    transform-origin: center;
}
#minutes-hand {
    transform: rotate(360deg);
    transform-origin: center;
}
